<div class="shared-button">
  <div class="shared-title">
    Поделиться:
  </div>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5878b92b77b16ed8"></script>
  <div class="addthis_inline_share_toolbox"></div>
</div>
