$(".articles").append("<%= escape_javascript(render partial: 'articles') %>");
<% unless (link_to_next_page @articles, 'Показать ещё', remote: true).nil? %>
	$(".add-articles-index").html("<%= escape_javascript(link_to_next_page @articles,\
	 	'<div id=\'add-articles-index\'>Показать ещё</div>'.html_safe, remote: true) %> \
		<div class='go-top'><a href='#'></a></div>");
<% else %>
	$(".add-articles-index").html("<div class='go-top'><a href='#'></a></div>")	
<% end %>