p#notice = notice
h1 = @article.title
= image_tag(@article.illustration.url, class: "img-responsive") unless @article.illustration.file.nil?
h1 content
p = @article.content
h1 marks
p = @article.marks_count

= link_to "like", article_marks_path(@article), method: :post
= render 'comments/index', comments: @article.comments 
= link_to 'Edit', edit_article_path(@article)
'|
= link_to 'Back', articles_path
