/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require devise_bootstrap_views  
 */


@import "bootstrap-generators.scss";

//@import "https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic,cyrillic-ext";
//font family look in  /layouts/application.html.slim

.clear-fix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.bs-callout-info {
  border-left-color: #5bc0de;
}
body {
  font-size: 13px;
  font-family: "Open Sans";
  h1, h2 {
    font-size: 26px;
  }
}
.body-container {
  min-height: 600px;
}
.header {
  #add-registration {
    cursor:pointer;
  }
  .register {
    color:white;
  }
  .register-form > .col-md-8 {
    background-color: white;
    padding: 15px;
  }
  .register-form {
      margin-top: 20px;
      padding-bottom: 41px;
      @include respond-to(md) {
        .fix-social {
          padding-right: 0 !important;
        }
      }

      @include respond-to(xs) {
        input {
          margin: 5px 0 5px;
        }
      }

      @include respond-to(sm) {
        input {
          margin: 5px 0 5px;
        }
      }

      input {
        border-radius: 0px;
        border:none;
        text-align: center;
      }

      input[type=text], input[type=email], input[type=password] {
        border-bottom:2px solid #979ba6;
      }
      input[type=submit] {
        @include respond-to(md) {
          width: 100%;  
        }
        padding: 7px 0px 7px;
        background-color: #117ebd;
        font-size: 12px;
        @include respond-to(xs) {
          padding: 7px 43px 7px;
        }
        @include respond-to(sm) {
          padding: 7px 43px 7px;
        }
      }
      @include respond-to(xs) {
        .vk, .fb {
          width: 41px;
        }
        .fb {
          margin-left: 5px;
        }
      }
      @include respond-to(sm) {
        .vk, .fb {
          width: 41px;
        }
        .fb {
          margin-left: 5px;
        }
      }
      @include respond-to(md) {
        .vk, .fb {
          width: 40%
        }
        .fb {
          margin-left: 15px;
        }
      }
      .vk, .fb {
        display: inline-block;
        img {
          width: 100%
        }
      }
      img {

      }
   
      .col-md-8 {
        .row:last-child {
          margin-top: 5px;
          input {
            margin-top: 5px;
          }
        }
      }
  }
  
  .border-bottom-dashed {
    border-bottom: 1px dashed #8091d5;
    font-size: 12px;
  }
  .border-bottom-dashed, .border-bottom-dashed a, .border-bottom-dashed a:hover {
    color: #8091d5; 
    text-decoration: none;
  }
  .auth-inputs {
    margin-bottom: 15px;
  }
  .login-form {
    input {
      text-align: center;
      border: none;
      border-radius: 0;
      border-bottom: 2px solid white;
      color:white;
    }
    input[type=email], input[type=password] {
      background: none;
    }
    input[type=submit] {
      border:2px solid white;
      background-color: #117ebd
    }
  }
  background-image: image-url("Crisis_club_bkgrnd.jpg");
  .logo {
    img {
      padding-top: 87px;
      display: block;
      @include respond-to(md) {
        margin-left: 38px;
        height: 48px;
      }
      @include respond-to(sm) {
        width: 75%;
        margin: 25px auto;
      }
      @include respond-to(xs) {
          width: 75%;
          margin: 25px auto;
      }
    }
  }
  .auth-true {
    padding-top: 47px;
    color: white;
    padding-bottom: 30px;
    .logo {
      img {
        padding-top: 0px;
      }
    }
    .info-user {
      .settings {
        .col-md-2 {
          border-left: 1px solid #fff
        }
        a {
          color: #8091d5;
        }
        a:hover {
          color: #8091d5; 
        }
      }
      .name {
        font-size: 20px;
      }
      img {
        width: 50px;
        height: 50px;
      }
    }
  }
  .auth-true {

    .logo {
      //float: left;
    }
  }
  .desc-app {
    padding-top: 40px;
    color:white;
    text-align: center;
  }
  .auth-forms {
    padding-top: 59px;
    padding-bottom: 50px;
    clear: both;
    text-align: center;

    .login-form {
      background-color: white;
      //width: 357px;
      //margin: 0 auto;
      padding: 25px 35px 25px;
      display: inline-block;

      .inputs {
        float: left;
        margin-right: 15px;
        input {
          border: none;
          border-radius: 0;
          border-bottom: 1px solid black;
        }
      }

      .buttons {
        float: right;
        .btn {
          border-radius: 0;
          background-color: #117ebd;
          margin-bottom: 10px;
          padding: 7px 26px 7px;
          border:none;
        }
        
        //width: 98px;
        //float: right;
        .social-buttons {
          .vk {
            img {
              position: absolute;
              top: 40%;
              left: 42%;
              height: 50%;
              width: 65%;
              margin: -15% 0 0 -25%;
            }
          }
          .fb {
            img {
              position: absolute;
              top: 25%;
              left: 54%;
              height: 80%;
              width: 42%;
              margin: -15% 0 0 -25%;             
            }
          }
          a {
             background-color: #117ebd;
             display: inline-block; 
          }
          @include respond-to(md) {
            a {           
              width: 41px;
              height: 41px;
              position: relative;

            }
          }
          @include respond-to(xs) {
            a {
              width: 100%
            }
          }
          a:last-child {
            margin-left: 10px;
          }
        }
      }
      .form-group {
        background: none;
      }
    }
  }
}
.footer {
  font-size: 13px;
  margin-top: 30px;
  @include respond-to(md) {
    .row {
      position: relative;
      top: 30px;
      height: 82px;
    }
  }

  
  @include respond-to(xs) {
    .my-col {
      padding:10px; 
    }
  }

  @include respond-to(sm) {
    .my-col {
      padding:10px; 
    }
  }

  
  background-color: #384064;
  .logo {
    @include respond-to(md) {
      text-align: left;
    }
    @include respond-to(xs) {
      text-align: center;
    }
    @include respond-to(sm) {
      text-align: center;
    }
    img {
      width: 151px;
      // height: 30px;
    }
  } 
  .info {
    a {
      margin-left: 12px;
      padding-left: 12px;
      border-left:1px solid #adb6db;
      color: #adb6db;
    }
    a:hover {
      color: #adb6db;
    }
    a:first-child {
      border:none;
      margin-left: 0;
      padding-left: 0;
    }
  }
  .copyright {
    color: #656e92
  }
}
.background-for-tags {
  background-color: #384064;
}
.most-popular-tags {
  background-color: #384064;
  position: relative;
  #tags {
    margin-bottom: -7px;
    a {
      color: white;
    }
    a:hover {
      color: white;
    }
  }
  #nextPageTags, #prevPageTags {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: 15px 15px; 
    cursor: pointer;
    position: absolute;
    top: 41%;
  
  }
  #nextPageTags {
    background-image: image-url("Crisis_club_icon_arrow_right.png");
    margin-left: 30px;
    left: 97%;
  }
  #prevPageTags {
    background-image: image-url("Crisis_club_icon_arrow_left.png");
    margin-right:30px; 
    left: 0%;
  }
  .news-title {
    background-image: image-url("Crisis_club_news_backgroud.png");
    background-repeat: no-repeat;
    float: left;
    color: white;
    font-size: 20px;
    padding: 18px 38px 20px 26px;
    background-size: 135px 66px;
    margin-right: 20px;
    margin-left: 14px;
  }
  .tags {
    display: inline-block;
    height: 66px;
    width: 71%;
    position: absolute;
    #tags {
      list-style: none;
      white-space: nowrap;
      overflow: auto;
      overflow-x:hidden;
      display: block;
      margin-left: 21px;
      padding-left: 0;
      li:first-child {
        padding-left: 0px;
      }
    }
    li {
      display: inline-block;
      padding: 25px 0px 0px 10px;
    }
  }
}
.col-sm-12 .col-xs-12 {
  img {
    width: 100%
  }
}