
body {
  padding-top: 0px !important;
}
.articles, .show-article, .articles-sidebar {
  .icon {
    background-repeat: no-repeat;
    background-position: left top;
  }
  .marks {
    .icon {
      background-image: image-url("Crisis_club_icon_like.png");
    }
  }
}

.articles {
  margin-top: 40px;
}

.articles .article, .articles-sidebar .article {
  width: 354px;

  .title {
    padding-top: 20px;
  }
  .footer-article {
    padding-top: 20px;
    //float: right;
    //padding-left: 15px;
    .date {
      float: left;
      //display: inline-block;
      //text-align: left;
    }

    .icon {
      background-size: 20px 20px;
      width: 19px;
      height: 19px;
      float: left;
      padding-left: 24px;
    }

    .marks{
      //display: inline-block;
      //text-align: right;
      float: right;
    }

    .comments {    
      .icon {
        background-image: image-url("Crisis_club_icon_comment.png");
      }

      float: right;
      text-align: right;
      padding-right: 10px;
    }

  }
}
.articles-sidebar .article {
  padding-bottom: 57px;
}
.articles {
  .article {
    
    display: inline-block;
    padding-right: 32px;
    padding-bottom: 57px;

  }
  .article:nth-child(3n){
    padding-right: 0px;
  }
}
.show-article{
  width: 704px;
  float: left;
  img {
    margin-bottom: 30px;
  }
  .footer-article{
    margin-top: 15px;
    margin-bottom: 15px;
    .like {
      display: inline-block;
      //margin-left: 5px;
      //font-size: 19px;
      /*span {
        position: relative;
        top: 30%;
      }*/
    }
    .icon {
      //background-image: image-url("Crisis_club_icon_like.png"); 
      background-size: 19px 19px;
      width: 19px;
      height: 19px;
      float: left;
      margin-right: 5px;
      display: inline-block;

    }
  }
  .tags {
    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    color: #bdbdbd;
    padding-top: 26px;
    padding-bottom: 26px; 
    margin-bottom: 30px;
    a {
      color: #bdbdbd;
      padding-left: 5px;
      display: inline-block;
    }
  }
}
.articles-sidebar {
  float: right;
  margin-top: 18px;
}
.most-popular-tags {
  // text-align: center;
  // .center {
  //   display: inline-block;

  // }
  color: white;
  //height: 68px;
  background-color: #384064;
  list-style: none;

  a {
    color: white;
    padding-left: 30px;
  }
  a:hover {
    color:white;
  }
  .news-block {
    text-align: center;
    background-color: #117ebd;
    float: left;
    margin-right: 20px;
    span {
      display: inline-block;
      padding: 25px;
    }
  }
  .selected-tags {
    ul {
      margin-bottom: 0px;
    }
    li {
      float: left;
      list-style: none;
      display:block;
      padding: 25px;
    }
    li:last-child {
      float: none;
    }
  }
}
.add-articles-index {
  #add-articles-index {
    color: white;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    padding: 10px 112px 10px;
    background-color:#384064; 
  }
  margin-bottom: 30px;
}
  //height 68
  //.news-block
    //width 170
  //.selected-tags
    //backgroud-color #384064