@import "bootstrap-generators.scss";

body {
  padding-top: 0px !important;
}
.articles, .show-article, .articles-sidebar {
  .icon {
    background-repeat: no-repeat;
    background-position: left top;
  }
  .marks {
    .icon {
      background-image: image-url("Crisis_club_icon_like.png");
    }
  }
}

.articles {
  margin-top: 40px;
}

.articles .article, .articles-sidebar .article {
  width: 100%;

  .title {
    padding-top: 20px;
  }
  .footer-article {
    padding-top: 20px;
    .date {
      float: left;
    }

    .icon {
      background-size: 20px 20px;
      width: 19px;
      height: 19px;
      float: left;
      padding-left: 24px;
    }

    .marks{
      float: right;
    }

    .comments {    
      .icon {
        background-image: image-url("Crisis_club_icon_comment.png");
      }

      float: right;
      text-align: right;
      padding-right: 10px;
    }

  }
}
.articles-sidebar .article {
  padding-bottom: 57px;
}
.articles {
  .article {
    display: inline-block;
    padding-right: 32px;
    padding-bottom: 57px;

  }
  .article:nth-child(3n){
    padding-right: 0px;
    height: 180px;
    width: 100%;
  }
}
.show-article {
  max-width: 100%;
  .shared-top {
    float: right;
    .addthis_inline_share_toolbox {
      float: left;
    }
  }
  .shared-button {
    display: inline-flex;
    .shared-title {
      position: relative;
      top: 3px;
      float: left;
      margin-right: 2px;
      color: #46b0ef;
    }
    .addthis_inline_share_toolbox {
      clear: none !important;
    }
  }
  img {
    margin-bottom: 30px;
  }
   @include respond-to(xs) {
     .img-responsive {
        margin-top: 30px; 
     }
   }
   @include respond-to(sm) {
     .img-responsive {
        margin-top: 30px;
     }
   }
  .footer-article{
    margin-top: 15px;
    margin-bottom: 15px;
    .like {
      display: inline-block;
      a {
        color: #46b0ef;
      }
      position: relative;
      top: 2px;
    }
    .marks {
      margin-top: 2px;
      display: inline-flex;
      margin-right: 5px;
    }
    .icon {
      background-size: 19px 19px;
      width: 19px;
      height: 19px;
      float: left;
      margin-right: 5px;
      display: inline-block;

    }
    .count-like {
      margin-right: 13px;
      display: inline-flex;
      position: relative;
      top: 3px;
    }
  } 
  .tags {
    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    color: #bdbdbd;
    padding-top: 26px;
    padding-bottom: 26px; 
    margin-bottom: 30px;
    a {
      color: #bdbdbd;
      padding-left: 5px;
      display: inline-block;
    }
  }
}
.articles-sidebar {
  float: right;
  margin-top: 18px;
}
.add-articles-index {
  // a, a:hover {
  //   color: white;
  // }
  #add-articles-index {
    color: white;
    display: inline-block;
    // font-size: 20px;
    text-align: center;
    @include respond-to(xs) {
      padding: 10px 20% 10px !important;
      background-position-x: 22% !important;
      background-size: 5px 20px !important;
        
    }
    padding: 10px 112px 10px;
    background-color:#384064; 
    background-image: image-url("Crisis_club_icon_dots.png");
    background-size: 5px 12px;
    background-repeat: no-repeat;
    background-position: left, center;
    background-position-x: 33%;
  }
  margin-bottom: 30px;
}
.go-top {
  position: fixed;
  opacity: 0.5;
  @include respond-to(md) {
    top: 76%;
    right: 10%
  }
  @include respond-to(xs) {
    top: 70%;
    right: 5%
  }

  @include respond-to(sm) {
    top: 7%;
    right: 10%;
  }
   
  a {
    height: 38px;
    width: 38px;
    display: block;
    background-image: image-url("Crisis_club_go_top.png");
    background-size:38px 38px;
    background-repeat: no-repeat;
    float: right;
  }
}
.go-top:hover {
  opacity: 1;
}
.response-toolbar, .comment-toolbar {
  @include respond-to(md) {
    a {
    padding-left: 5px;
    }
    a:first-child {
      padding-left: 0px;
    }
  }
}
// .go-top {
//   display: inline;
  // a {
  //   height: 38px;
  //   width: 38px;
  //   display: block;
  //   background-image: image-url("Crisis_club_go_top.png");
  //   background-size:38px 38px;
  //   background-repeat: no-repeat;
  //   float: right;
  // }
// }