@import "bootstrap-generators.scss";

.comment {
  img {
    width: 100%;
    height:auto;
    border: 1px solid #384064;
    margin-bottom: 0px;
  }
  .responses {
    padding-top: 15px;
    .response {
      padding-bottom: 15px;
    }
  }
}
.comment-form {
  img {
    width: 100%;
    height:auto;
    border: 1px solid #384064;
  }
}
.comments-header {
  font-style: bold;
  padding-bottom: 15px;
  .icon {
    background-image: image-url("Crisis_club_icon_comment.png");
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 18px 18px;
    padding-right: 28px;
    display: inline-block;
  }
  .exists-comments {
    display: inline-block;
    font-size: 20px;

  }
}
#comment_content {
  display: block;
}
#go-registration {
  text-decoration: underline;
  color: #337ab7;
  cursor: pointer;
}
#go-registration :hover {
  color: #23527c;
}